* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square--winning {
  background-color: rgb(208, 239, 72);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
  padding:20px;
  width:90%;
  max-width:600px;
  margin:0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

.game-info__movement{
  margin-bottom:5px;
}

header{
  text-align:center;
  background:#333;
  color:#fff;
  height:3rem;
  line-height:3rem
}

@media screen and (max-width: 512px) {
  .game-board{
    margin-bottom:20px
  }
  .board-row{
    justify-content: center;
    display: flex;
  }
  .game-info {
    width:95%;
    margin-left:0;
  }
}
